agate==1.6.1
airflow-dbt==0.4.0
alembic==1.7.5
amqp==5.0.9
anyio==3.5.0
apache-airflow==2.2.3
apache-airflow-providers-cncf-kubernetes==3.0.1
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.2
apache-airflow-providers-imap==2.1.0
apache-airflow-providers-sqlite==2.0.1
apache-airflow-upgrade-check==1.4.0
apispec==3.3.2
appdirs==1.4.4
argcomplete==1.12.3
asn1crypto==1.4.0
attrs==20.3.0
azure-common==1.1.27
azure-core==1.21.1
Babel==2.9.1
bcrypt==3.2.0
billiard==3.6.4.0
blinker==1.4
boto3==1.20.27
botocore==1.23.27
Bottleneck==1.3.2
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.4
cattrs==1.5.0
celery==5.2.3
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.4
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clickclick==20.10.2
colorama==0.4.4
colorlog==4.0.2
commonmark==0.9.1
configparser==3.5.3
croniter==0.3.37
cryptography==3.4.8
dbt==0.21.1
dbt-bigquery==0.21.1
dbt-core==0.21.1
dbt-extractor==0.4.0
dbt-postgres==0.21.1
dbt-redshift==0.21.1
dbt-snowflake==0.21.1
defusedxml==0.7.1
demjson==1.6
Deprecated==1.2.13
dill==0.3.4
distlib==0.3.2
distutils-pytest==0.1
dnspython==2.1.0
docutils==0.16
email-validator==1.1.3
filelock==3.0.12
Flask==1.1.4
Flask-Admin==1.5.4
Flask-AppBuilder==3.4.4
Flask-Babel==1.0.0
Flask-Bcrypt==0.7.1
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
flask-swagger==0.2.14
Flask-WTF==0.14.3
funcsigs==1.0.2
future==0.18.2
google-api-core==1.31.2
google-auth==1.35.0
google-cloud-bigquery==2.31.0
google-cloud-core==1.7.2
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
graphviz==0.19.1
grpcio==1.43.0
gunicorn==20.1.0
h11==0.12.0
hologram==0.0.14
httpcore==0.13.7
httpx==0.19.0
hvac==0.11.2
idna==2.10
importlib-metadata==4.10.0
importlib-resources==1.5.0
inflection==0.5.1
install==1.3.5
iso8601==1.0.2
isodate==0.6.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
json-merge-patch==0.2
json-rpc==1.13.0
jsonschema==3.1.1
keyring==21.8.0
Kivy==2.0.0
Kivy-Garden==0.1.4
kombu==5.2.3
kubernetes==21.7.0
lazy-object-proxy==1.4.3
leather==0.3.4
lockfile==0.12.2
Logbook==1.5.3
Mako==1.1.6
Markdown==2.6.11
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.23.1
mashumaro==2.5
minimal-snowplow-tracker==0.0.2
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
msgpack==1.0.3
mysql-connector==2.2.9
natsort==8.0.2
networkx==2.6.3
numexpr==2.8.1
numpy==1.21.2
oauthlib==3.1.1
openapi-schema-validator==0.1.6
openapi-spec-validator==0.3.1
oscrypto==1.2.1
packaging==21.3
pandas==1.2.5
parsedatetime==2.6
pendulum==2.1.2
pip==21.3.1
prison==0.2.1
prompt-toolkit==3.0.24
proto-plus==1.19.8
protobuf==3.19.1
psutil==5.9.0
psycopg2-binary==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.12.0
Pygments==2.10.0
PyJWT==1.7.1
pyOpenSSL==20.0.1
pyparsing==3.0.6
pyrsistent==0.18.0
PySocks==1.7.1
python-certifi-win32==1.6
python-daemon==2.3.0
python-dateutil==2.8.1
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytimeparse==1.1.8
pytz==2021.3
pytzdata==2020.1
PyYAML==6.0
redis==4.1.0
requests==2.27.1
requests-oauthlib==1.3.0
rfc3986==1.5.0
rich==11.0.0
rsa==4.8
s3transfer==0.5.0
setproctitle==1.2.2
setuptools==59.6.0
setuptools-scm==6.4.2
shelljob==0.6.3
six==1.16.0
sniffio==1.2.0
snowflake-connector-python==2.5.1
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.2
sqlparse==0.4.2
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
text-unidecode==1.3
thrift==0.15.0
tomli==2.0.0
typing-extensions==3.10.0.2
tzlocal==1.5.1
unicodecsv==0.14.1
Unidecode==1.2.0
urllib3==1.25.11
vine==5.0.0
virtualenv==20.4.7
wcwidth==0.2.5
websocket-client==1.2.3
Werkzeug==1.0.1
wheel==0.37.1
wrapt==1.13.3
WTForms==2.3.3
zipp==3.7.0
zope.deprecation==4.4.0
